

.form-container {
  width: 100%;
  display: flex;
  margin-bottom: 10rem;
}

.left-container {
  /* flex: 1; */
  margin: auto;
  height: 480px;
  background-color: white;
}


.left-container {
  display: flex;
  flex: 1;
  height: 480px;
  justify-content: center;
  align-items: center;
  color: white;
}

.left-container p {
  font-size: 0.9rem;
}
.right-container {
  margin: auto;
  
}

.right-inner-container {
  margin: auto;
  width: 70%;
  height: 80%;
  text-align: center;
}

.left-inner-container {
  height: 50%;
  width: 80%;
  text-align: center;
  line-height: 22px;
}

input,
textarea {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  font-size: 0.8rem;
  border-radius: 10px;
}

input:focus,
textarea:focus {
  outline: 1px solid rgb(0, 215, 215);
  background-color: rgb(0, 215, 215, 0.1);
}

.submit-button {
  border-radius: 20px;
  border: 1px solid #00b4cf;
  background-color: #00b4cf;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}
form p {
  text-align: left;
}