@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.p-carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1150px) {
  .w-lg-80 {
    width: 80vw !important; /* Set width to 80vw on medium and larger screens */
  }
}
